@font-face {
    font-family: "Graphik";
    src: url("assets/Graphik-Regular-Trial.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("assets/Graphik-Medium-Trial.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Graphik";
    src: url("assets/Graphik-Bold-Trial.otf") format("opentype");
    font-weight: 700;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
    font-family: "Graphik", sans-serif;
    font-weight: 400; 
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 10px */
}

body{
    background-color: black;
}

.fourdLogo {
    margin: 9.2rem 0 0 15%;
    z-index: 3;
    position: relative;
}

.digitalLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7.5rem;
    z-index: 1;
    position: relative;
}

.digitalLogo img{
    max-width: 100%;
    height: auto;
}

.contactInfos{
    line-height: 3.2rem;
}

.contactInfos:last-child{
    line-height: none;
}

.mailStyle{
    color: #dc99d7;
    font-size: 2.4rem;
    font-family: "Graphik", sans-serif;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.mailStyle span{
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    color: #dc99d7;
}

.addressInfos{
    font-size: 1.6rem;
    margin-left: 15%; 
    margin-top: -5rem;
}

.sloganText{
    text-align: end;
    margin-right: 15.5%;
    margin-top: -5rem;
}

.sloganText h2{
    font-size: 4.0rem;
    font-family: "Graphik", sans-serif;
    font-weight: 500; 
}

a{
    text-decoration: none;
    font-weight: 700; 
}

@media (max-width: 1024px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fourdLogo {
        margin: 2rem auto;
        text-align: center;
    }

    .fourdLogo img {
        max-width: 50%;
        height: auto;
    }

    .digitalLogo {
        margin: 2rem auto;
        text-align: center;
    }

    .addressInfos {
        margin: 1rem auto;
        text-align: center;
    }

    .contactInfos {
        margin-top: 2rem;
        text-align: center;
    }

    .sloganText {
        margin: 2rem auto;
        text-align: center;
    }

    .sloganText h2 {
        font-size: 2.4rem;
    }

    a {
        display: block;
        margin-top: 1rem;
    }
}